Werkzeug==2.2.2
Flask==2.1.3
Flask-DebugToolbar==0.13.1
#Pandas==2.1.4
Flask-Breadcrumbs==0.5.1 
Flask-Menu==0.7.2
# Werkzeug
# Flask
# Flask-DebugToolbar
# Flask-Breadcrumbs
# Flask-Menu
Numpy
Pandas