<nav id="sidebar" class="active">
  <h1><a href="/" class="logo">BMS</a></h1>
  <ul class="list-unstyled components my-5">
    <li class="active">
      <a href="/help"><span class="fa fa-home"></span> Help</a>
    </li>
    <li>
        <a href="/rescue"><span class="fa fa-user"></span> Rescue</a>
    </li>
    <li>
      <a href="/sensors"><span class="fa fa-sticky-note"></span> Sensors</a>
    </li>
    <li>
      <a href="/swcontrol"><span class="fa fa-cogs"></span> SWcontrol</a>
    </li>
    <li>
      <a href="/sendraw"><span class="fa fa-terminal"></span> Sendraw</a>
    </li>
    <li>
      <a href="/peripherals"><span class="fa fa-sliders"></span> Peripherals</a>
    </li>
    {% if current_user.is_authenticated %}
      {% if current_user.can(Permission.ADMIN) %}
        <li>
          <a href="/cmdlog"><span class="fa fa-list-alt"></span> CMDlog</a>
        </li>        
      {% endif %}
    {% endif %}
    
    
  </ul>

  <div class="footer">
    <p>
      <!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> -->Base Module Server Manager, edited by INFN LNS for Km3NeT project
    </p>
  </div>
</nav>