{% extends "layouts/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-4 text-right">
               <h3>DU =</h3>
            </div>
            <div class="col-sm-3">
               <input type="text" name="du" class="form-control" value={{prefilldu}} />     
            </div>
            <div class="col-sm-4 text-left">
                <input type="button" value="READ ALL" onclick="readAll()" class="btn btn-primary">
            </div>            
        </div>
    </div>
    <div class="row d-flex ">
<!--#####################################################  PERIPHERALS FUNC--> 
    
        <div class="col-6 justify-content-center">
            <div class="card  p-2 my-5">
                <div class="card card-header bg-primary text-center">
                      <div class="card-title  ">
                            <h1 class="text-white">PERIPHERALS MANAGER</h1>
                      </div>
                </div>
                <div class="card-body">
                   <form action = "" method = "GET">
                      <div class="row">
                         
                      </div>
                      <div class="row d-flex justify-content-center mt-4">
                         <input type = "submit" value = "READ" name = "submit" onclick="periphFunc()" class="btn btn-primary">
                      </div>
                   </form>
                   <div class="row d-flex justify-content-center fw-bold mt-4">
                      {{ msg }}
                   </div>
       
                   
                      <div id="peripheralsTableContainer" class="row">
                         <div class="card-body table-full-width table-responsive ">
                            <table class="table table-default table-hover">
                               <tr class="text-left fw-bold text-primary h5">
                                  <th></th>
                                  <th class="text-center">ON</th>
                                  <th>OFF</th>
                                  <th>STATUS</th>
                               </tr>
                               <tbody id="peripheralsTableBody" class="text-left">


                               </tbody>
                            </table>
                         </div>
                         <div class="card-body table-responsive ">
                            <table class="table table-default table-hover">
                               <tbody>
                               <tr class="text-left fw-bold text-primary h5">
                                  <td>
                                     <i class="fa fa-power-off text-success"> = ON BUTTON</i> 
                                  </td>
                                  <td>
                                     <i class="fa fa-power-off text-danger"> = OFF BUTTON</i> 
                                  </td>
                                  <td>
                                     <i class="fa fa-circle text-success"> = PERIPHERAL IS ON</i> 
                                  </td>
                                  <td>
                                     <i class="fa fa-circle text-danger"> = PERIPHERAL IS OFF</i> 
                                  </td>
                               </tr>
                            </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    
<!--##################################################### SENSORS MODULE-->
        <div class="col-6 justify-content-center">
            <div class="card  p-2 my-5">
                <div class="card card-header bg-primary text-center">
                        <div class="card-title  ">
                            <h1 class="text-white">SENSORS MODULE</h1>
                        </div>
                </div>
                <div class="card-body">
                    <form action = "" method = "POST">
                        <div class="row">
                        </div>

                        <div class="row d-flex justify-content-center mt-4">
                        <input type = "submit" value = "READ" name = "submit" onclick="sensorsFunc(event)" class="btn btn-primary">
                        </div>
        
                        <div class="row d-flex justify-content-center mt-4">
                        <span class="fw-bold">{{msg}}</span>
                        </div>
                    
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <a class="icon" href="#" data-toggle="dropdown"><i class="fa fa-download fa-2x mt-4"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow lg">
                                        <li class="dropdown-header text-start">
                                            <h6 class="text-primary">Export in</h6>
                                        </li>
    
                                        <li>
                                        <a class="dropdown-item" onclick='copyToClipboardPowertest2()'> Clipboard PowerTest</a>
                                        </li>
                                    </ul>
                            </div>
                            <div id='sensorsTable' class="card-body row d-flex justify-content-center mt-4">
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
<!-- END ROW-->
    </div>

<!--########################################## SENDROW MODULE -->
    <div class="row justify-content-center">
        <div class="card  p-2 my-5">
            <div class="card card-header bg-primary text-center">
                  <div class="card-title  ">
                        <h1 class="text-white">SENDRAW MODULE</h1>
                  </div>
            </div>
            <div class="card-body">
               <form  id="confirmForm">
                  <div class="row">    
                     
                  </div>
   
                  <div class="row">
   
                     <div class="col-sm-4 text-right">
                        <h3>CMD =</h3>
                     </div>
                     <div class="col-sm-3">
                        <input type="text" name="cmd" class="form-control" value='VERSION' />
                     </div>
                     <div class="col-sm-4 text-left">
                        (enter the command)
                     </div>
               
                  </div>
                  <div class="row d-flex justify-content-center mt-4">

                     <button type="button" class="btn btn-danger mr-4" data-toggle="modal" data-target="#confirmModal">SEND</button>
                     <button type="button" class="btn btn-primary" onclick="confirmSubmit('PING')">PING</button>

                  </div>
                  <div class="row d-flex justify-content-center mt-4">
                     <span class="fw-bold" id="msg"></span>
                  </div>
   
                  <div class="row d-flex justify-content-center mt-4" id="answ">
                  </div>
                  
               </form>
            </div>  
      </div>
   </div>
<div class="it-example-modal">
<div class="modal" tabindex="-1" role="dialog" id="confirmModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation needed</h5>
            </div>
            <div class="modal-body">
                <p>Would you link to proceed ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Ritorna</button>
                <a class="btn btn-primary btn-sm text-white" onclick="confirmSubmit('SEND')" role="button">Conferma</a>
            </div>
        </div>
    </div>
</div>




<script>
    function readAll() {
        if (event) {
            event.preventDefault();
        }
        periphFunc();
        setTimeout(() => {
            sensorsFunc();
        }, 1000);
        
    }
const dashboard = true;
let tableClipPower = 'e';

/* 
    SENDRAW MODULE FRAME
*/
function confirmSubmit(action) {
    const duValue = document.querySelector('input[name="du"]').value;
    const cmdValue = document.querySelector('input[name="cmd"]').value;
    
    const msg = document.getElementById("msg");
    const answ = document.getElementById("answ");

    console.log("Invio comando:", duValue, cmdValue);
      
    if (action == 'SEND') {
        $('#confirmModal').modal('hide');

        var formData = new FormData();
        formData.append('submit', action);
        formData.append('du', duValue);
        formData.append('cmd', cmdValue);

        fetch('/sendraw', {
            method: 'POST',
            body: formData,
        }).then(response => response.json())
        .then(data => {
            console.log("Server Risposta:", data);
            msg.innerHTML = data.msg;
            answ.innerHTML = data.answ;           
        })
    }
    else {
        var formData = new FormData();
        formData.append('submit', action);
        formData.append('du', duValue);

        fetch('/sendraw', {
            method: 'POST',
            body: formData,
        }).then(response => response.json())
        .then(data => {
            console.log(data);
            msg.innerHTML = data.msg;
            answ.innerHTML = data.answ; 
        })    
    }
}
///////////////////////////////////////////////////////////


/*
    SENSORS MODULE FRAME
*/
    function sensorsFunc() {
        if (event) {
            event.preventDefault();
        }

        const duValue = document.querySelector('input[name="du"]').value;
        const formData = new FormData();

        formData.append('du', duValue);
        formData.append('isDash', dashboard);

        fetch('/sensors', {
            method: 'POST',
            body: formData
            })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            updateTable(data.sensors.table);
            tableClipPower = data.sensors.table_clip_power;
        })
    }
    function updateTable(tableData) {
        let tableContainer = document.getElementById('sensorsTable');
        tableContainer.innerHTML = ''; 
    
        for (const [key, table_html] of Object.entries(tableData)) {
            //const titleElement = document.createElement('div');
            //titleElement.innerHTML = `<span class="h6 fw-bold">${key}</span>`;
            //tableContainer.appendChild(titleElement);

            const tableElement = document.createElement('div');
            tableElement.innerHTML = table_html; 
            tableContainer.appendChild(tableElement);
        }
    }
    function copyToClipboardPowertest2() {
        const table = document.getElementById('sensorsTable');
      
        if (table) {
            let csvContent = ''; // Header del CSV
            const rows = table.querySelectorAll('tbody tr'); 
    
        
            for (let i = 0; i < rows.length; i++) { 
                const row = rows[i];
                const columns = row.querySelectorAll('td'); 
                if (columns.length > 0) {
                    const adc = columns[0].innerText; 
                    const value = columns[1].innerText.replace('.', ','); 
                    csvContent += `${adc}\t${value}\n`; 
                }
            }
    
            // Copia negli appunti
            const tempElement = document.createElement("textarea");
            tempElement.value = csvContent;
            document.body.appendChild(tempElement);
            tempElement.select();
            document.execCommand("copy");
            document.body.removeChild(tempElement);
        } else {
            alert("Nessun dato disponibile da copiare.");
        }
    }
        /*

////////////////////////////////////////////////////////////////////////////



/*
    PERIPHERALS MODULE FRAME
*/
function periphFunc() {
    if (event) {
        event.preventDefault();
    }

    const duValue = document.querySelector('input[name="du"]').value;

    fetch(`/peripherals?du=${duValue}&isDash=${dashboard}`, {
        method: 'GET'
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        const peripherals = data.peripherals.peri_status; 
        const tableBody = document.getElementById('peripheralsTableBody');
        tableBody.innerHTML = ''; 

        const renderOrder = ['veoc', 'switch_12V', 'beacon', 'hydrophone', 'rescue'];
        for (const ph of renderOrder) {
            if (peripherals[ph]) {
                const row = document.createElement('tr');

                // Nome della periferica
                const phCell = document.createElement('td');
                phCell.className = 'fw-bold text-primary h5 text-right align-middle';
                phCell.textContent = ph.charAt(0).toUpperCase() + ph.slice(1); 
                row.appendChild(phCell);

                // Pulsante ON
                const onCell = document.createElement('td');
                const onButton = document.createElement('i');
                onButton.id = ph;
                onButton.name = ph;
                onButton.setAttribute('data-name', ph);
                onButton.className = 'fa fa-power-off fa-2x text-success toggles';
                onButton.setAttribute('value', '1');
                onCell.appendChild(onButton);
                row.appendChild(onCell);

                // Pulsante OFF
                const offCell = document.createElement('td');
                const offButton = document.createElement('i');
                offButton.id = ph;
                offButton.name = ph;
                offButton.setAttribute('data-name', ph);
                offButton.className = 'fa fa-power-off fa-2x text-danger toggles';
                offButton.setAttribute('value', '0');
                offCell.appendChild(offButton);
                row.appendChild(offCell);

                // Stato della periferica
                const statusCell = document.createElement('td');
                const sws = peripherals[ph];
                for (const [swname, sw] of Object.entries(sws)) {
                    const statusIcon = document.createElement('i');
                    statusIcon.className = sw.sw_status === 1 ? 'fa fa-circle fa-2x text-success' : 'fa fa-circle fa-2x text-danger';
                    statusCell.appendChild(statusIcon);
                    statusCell.append(` ${sw.sw_display}`);
                }
                row.appendChild(statusCell);

                tableBody.appendChild(row); // Aggiungi la riga alla tabella
            }
        }
        const toggleVeoc = document.querySelectorAll(".toggles");
        toggleVeoc.forEach((toggleButton) => {
            toggleButton.addEventListener("click", () => {
                const duValue = document.querySelector('input[name="du"]').value;
                const value = toggleButton.getAttribute("value");
                const idp = toggleButton.getAttribute("id");
                //const name = toggleButton.getAttribute("name");
                const name = toggleButton.getAttribute("data-name");

                const requestBody = {};
                requestBody['periph'] = name;
                requestBody['val'] = value;
                requestBody['du'] = duValue;

                const spinnerModal = new bootstrap.Modal(document.getElementById('spinner-modal'), { backdrop: 'static', keyboard: false });
                spinnerModal.show();
                fetch('/peripherals', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                    body: JSON.stringify(requestBody)
                })
                .then(response => response.json())
                .then(data => {
                    spinnerModal.hide();
                    console.log(data);
                    periphFunc(); 
                })
            });  
        });
    })
}


</script>


{% endblock %}