{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
      <div class="card  p-2 my-5">
            <div class="card card-header bg-primary text-center">
                  <div class="card-title  ">
                        <h1 class="text-white">BASEMODULE SERVER</h1>
                  </div>
            </div>
            <div class="card-body text-start">

                  <br>
                  <h3>&#x2022; <b><a href="{{ url_for('cmd.f_sensors') }}"> SENSOR MONITOR</a></b></h3>
                  <h3>&#x2022; <b><a href="{{ url_for('cmd.f_peripherals') }}"> PERIPHERAL CONTROL PANEL</a></b></h3>
                  <h3>&#x2022; <b><a href="{{ url_for('cmd.f_swcontrol') }}"> SWITCH CONTROL</a></b></h3>
                  <h3>&#x2022; <b><a href="{{ url_for('cmd.f_rescue') }}"> RESCUE CONTROL</a></b></h3>
                  <h3>&#x2022; <b><a href="{{ url_for('cmd.f_sendraw') }}"> COMMAND TERMINAL</a></b></h3>
                  <h3>&#x2022; <b><a href="{{ url_for('cmd.render_log') }}"> SHOW OPERATION LOGFILE</a></b></h3>
                  <!-- <h3>&#x2022; JSON DATA: dump of DU XX sensor readings at /dumpsensor/XX</h3>
                  <h3>&#x2022; PROCESS 3: DU=0 is reserved for P3 BM operation at 10.0.1.100</h3> -->
                  <b> 
                  <br>

                  <h3>&#x2022; JSON sensor data dump (with X = DU number) at <i>/dumpsensor/X</i></h3>
                  <h3>&#x2022; Usage of DU=0 is reserved for P3 BM operation at 10.0.1.100</h3>
                  <h3>&#x2022; Run As {{runas}}</h3>

            </div>
            <div class="card-footer text-center">
                  KM3NeT - ARCA 2023<br>
                  Istituto Nazionale di Fisica Nucleare - Laboratori Nazionali del Sud<br>
                  <!-- Source at <a href=https://github.com/D-Paesani/km3net/>D-Paesani/km3net</a><br> -->
            </div>
      </div>
</div>
{% endblock content %}




