{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
   <div class="card  p-2 my-5">
         <div class="card card-header bg-primary text-center">
               <div class="card-title  ">
                     <h1 class="text-white">PERIPHERALS MANAGER</h1>
               </div>
         </div>
         <div class="card-body">
            <form action = "{{ url_for('cmd.f_peripherals') }}" method = "GET">
               <div class="row">
                  <div class="col-sm-4 text-right">
                     <h3>DU(s) =</h3>
                  </div>
                  <div class="col-sm-3">
                     <input type="text" name="du" class="form-control" value={{prefilldu}} />     
                  </div>
                  <div class="col-sm-4 text-left">
                     (comma or single-space separated)
                  </div>      
               </div>
               <div class="row d-flex justify-content-center mt-4">
                  <input type = "submit" value = "READ" name = "submit" class="btn btn-primary">
               </div>
            </form>
            {% if du %}
               <!--{{ du }}-->
               <div class="row">
                  <div class="card-body table-full-width table-responsive">
                     <table class="table table-default table-hover">
                        <tr class="text-center fw-bold text-primary h5">
                           <th></th>
                           <th>Turn ON</th>
                           <th>Turn OFF</th>
                           <th>SW 1 STATE</th>
                           <th>SW 2 STATE</th>
                        </tr>
                        <tbody class="text-center">
                           {% for ph in du %}
                           <tr>
                              <td class="fw-bold text-primary h5">{{ ph }}</td>
                              <td><i id="{{ph}}" name="{{ph}}" class="fa fa-power-off fa-2x text-success toggles" value='1'></i>ON</td>
                              <td><i id="{{ph}}" name="{{ph}}" class="fa fa-power-off fa-2x text-danger toggles" value='0'></i>OFF</td>
                              {% for sw in du[ph][:-1] %}
                                 {% set sw, swname = sw | split_comma %}
                                 {% if sw == '1' %}
                                    <td><i class="fa fa-circle fa-2x text-success"></i> {{ swname}}</td>
                                 {% else %}
                                    <td><i class="fa fa-circle-o fa-2x text-danger"></i> {{ swname}}</td>
                                 {% endif %}
                              {% if du[ph]|length <= 2 %} <td></td> {% endif %}
                              {% endfor %}
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            {% endif %}
         </div>

         <div class="card-footer text-center">
                Km3NeT - ARCA 2023<br>
                Istituto Nazionale di Fisica Nucleare - Laboratori Nazionali del Sud<br>
                <!-- Source at <a href=https://github.com/D-Paesani/km3net/>D-Paesani/km3net</a><br> -->
         </div>
   </div>
</div>

<script>
   //0 spento
   //1 acceso
   const toggleVeoc = document.querySelectorAll(".toggles");
   toggleVeoc.forEach((toggleButton) => {
      toggleButton.addEventListener("click", () => {
         const value = toggleButton.getAttribute("value");
         const idp = toggleButton.getAttribute("id");
         const name = toggleButton.getAttribute("name");

         const requestBody = {};
         requestBody[name] = value;
         requestBody['du'] = '{{prefilldu}}'

         fetch('/peripherals', {
            method: 'POST',
            headers: {
               'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
         })
         .then(response => response.json())
         .then(data => {
            console.log(data);
            const resp = data.response;
            const newstat = data.status;

            /*if (resp == False) 
            { 
               alert(newstat);
            }*/
            /*
            if (resp) {
               //alert('status di ritorno '+newstat);
               if (newstat == 1) {
                  //toggleButton.value = '1';
                  toggleButton.classList.remove("fa-toggle-off");
                  toggleButton.classList.add("fa-toggle-on");

               }
               else {
                  //toggleButton.value = '0';
                  toggleButton.classList.remove("fa-toggle-on");
                  toggleButton.classList.add("fa-toggle-off");
               }
            }
            else {
               alert('error');
            }*/
            location.reload();
      })
   })
})
</script>

{% endblock content %}
