{% extends "layouts/base.html" %}
{% block content %}

      <div class="container">
         <div class="card  p-2 my-5">
               <div class="card card-header bg-primary text-center">
                     <div class="card-title  ">
                           <h1 class="text-white">BASEMODULE SERVER</h1>
                     </div>
               </div>
               <div class="card-body">
                  <form action = "{{ url_for('cmd.f_sensors') }}" method = "POST">
                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>DU(s) =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="du" class="form-control" value={{prefilldu}} />     
                        </div>
                        <div class="col-sm-4 text-left">
                           (comma or single-space separated)
                        </div>
                        
                     </div>
      
      
                     <div class="row d-flex justify-content-center mt-4">
                        <input type = "submit" value = "READ" name = "submit" class="btn btn-primary">
                     </div>
      
                     <div class="row d-flex justify-content-center mt-4">
                        <span class="fw-bold">{{msg}}</span>
                     </div>
                     {% if table_to_clip %}
                     <div class="card">
                        <div class="d-flex justify-content-center">
                           <a class="icon" href="#" data-toggle="dropdown"><i class="fa fa-download fa-2x mt-4"></i></a>
                              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow lg">
                                 <li class="dropdown-header text-start">
                                    <h6 class="text-primary">Export in</h6>
                                 </li>
                                 <li>
                                    <a class="dropdown-item" onclick='exportxlsx({{ table_to_clip | tojson }} )'> XLSX</a>
                                 </li>
                                 <li>
                                    <a class="dropdown-item" onclick='copyToClipboard({{ table_to_clip | tojson }})'> Copy to Clipboard</a>
                                 </li>
                                 <li>
                                    <a class="dropdown-item" onclick='copyToClipboardPowertest({{ table_clip_power | tojson }})'> Clipboard PowerTest</a>
                                 </li>
                              </ul>
                        </div>
                        <div class="card-body row d-flex justify-content-center mt-4">
                           {% for key, table_html in table.items() %}
                              <div class="">
                                 <span class="h6 fw-bold">{{ key }}</span>
                              </div>
                              {{ table_html | safe }}
                           {% endfor %}
                        </div>
                     </div>
                     {% endif %}
                  </form>
               </div>
               <div class="card-footer text-center">
                     KM3NeT - ARCA 2023<br>
                     Istituto Nazionale di Fisica Nucleare - Laboratori Nazionali del Sud<br>
                     <!-- Source at <a href=https://github.com/D-Paesani/km3net/>D-Paesani/km3net</a><br> -->
               </div>
         </div>
      </div>
      <script>
         function exportxlsx(table) {
            fetch('/export_to_xlsx', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({ table: table })
            })
            .then(response => response.json())
            .then(data => {
               console.log(data);
               // Decodifica il file base64
               const byteCharacters = atob(data.file_data);
               const byteNumbers = new Array(byteCharacters.length);
               for (let i = 0; i < byteCharacters.length; i++) {
                     byteNumbers[i] = byteCharacters.charCodeAt(i);
               }
               const byteArray = new Uint8Array(byteNumbers);
               // Crea un oggetto Blob dal file
               const blob = new Blob([byteArray], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'});
               // Crea un URL oggetto per il Blob
               const url = window.URL.createObjectURL(blob);
               // Crea un link per il download del file
               const link = document.createElement('a');
               link.href = url;
               link.setAttribute('download', data.du+'.xlsx');
               // Aggiunge il link al DOM e simula il clic
               document.body.appendChild(link);
               link.click();
               // Pulisce l'URL oggetto
               window.URL.revokeObjectURL(url);
            })
            
         }
      </script>
      
<script>
   function copyToClipboard(table) {
      //console.log("Table data received:", table);
      
      let csvContent = "";
      for (const [key, params] of Object.entries(table)) {
         csvContent += `DU${key}\n`;

         let rows = [];
         rows[0] = [''];

         for (const [param, details] of Object.entries(params)) {
            rows[0].push(param.slice(1));

            for (let [i, [val]] of Object.entries(Object.entries(details))) {
               i = parseInt(i) + 1;
               if (!rows[i]) rows[i] = [val];
               rows[i].push(details[val]);
            } 
         }
         for (let row of rows) {
            csvContent += row.join('\t') + '\n';
         }
         csvContent += '\t';
      }
      
      let tempElement = document.createElement("textarea");
      tempElement.value = csvContent;
      document.body.appendChild(tempElement);
      tempElement.select();
      document.execCommand("copy");
      document.body.removeChild(tempElement);
   }
</script>
<script>
   function copyToClipboardPowertest(table) {
      let csvContent = "";
      let rows = [];

      for (const [colname, param_name] of Object.entries(table)) {

          for (let [i, [param_val]] of Object.entries(Object.entries(param_name))) {
               i = parseInt(i);
               if (!rows[i]) rows[i] = [];
               rows[i].push(param_name[param_val]);            
         }
      }
      for (let row of rows) {
         csvContent += row.join('\t') + '\n';
      }
      
      let tempElement = document.createElement("textarea");
      tempElement.value = csvContent;
      document.body.appendChild(tempElement);
      tempElement.select();
      document.execCommand("copy");
      document.body.removeChild(tempElement);
   }
</script>
{% endblock content %}