{% extends "layouts/base.html" %}
{% block content %}

      <div class="container">
         <div class="card  p-2 my-5">
               <div class="card card-header bg-primary text-center">
                     <div class="card-title  ">
                           <h1 class="text-white">BASEMODULE SERVER</h1>
                     </div>
               </div>
               <div class="card-body">
                  <form action = "{{ url_for('cmd.f_sensors') }}" method = "POST">
                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>DU(s) =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="du" class="form-control" value={{prefilldu}} />     
                        </div>
                        <div class="col-sm-4 text-left">
                           (comma or single-space separated)
                        </div>
                        
                     </div>
      
      
                     <div class="row d-flex justify-content-center mt-4">
                        <input type = "submit" value = "READ" name = "submit" class="btn btn-primary">
                     </div>
      
                     <div class="row d-flex justify-content-center mt-4">
                        <span class="fw-bold">{{msg}}</span>
                     </div>
                     <div class="card">
                           <div class="card-body row d-flex justify-content-center mt-4">
                              {% if table_toex %}
                              <div class="filter d-flex justify-content-end me-2">
                              <a class="icon" href="#" data-toggle="dropdown"><i class="fa fa-download fa-lg"></i></a>
                                 <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow lg">
                                    <li class="dropdown-header text-start">
                                       <h6 class="text-primary">Export in</h6>
                                    </li>
                                    <li>
                                    <a class="dropdown-item" onclick='exportxlsx({{ table_toex | tojson }} )'> XLSX</a>
                                    </li>
                                 </ul>
                                 {% endif %}
                              </div>
                              {{ table | safe }}
                           </div>
                     </div>
                  </form>
               </div>
               <div class="card-footer text-center">
                     Km3NeT - ARCA 2023<br>
                     Istituto Nazionale di Fisica Nucleare - Laboratori Nazionali del Sud<br>
                     <!-- Source at <a href=https://github.com/D-Paesani/km3net/>D-Paesani/km3net</a><br> -->
               </div>
         </div>
      </div>
      <script>
         function exportxlsx(table) {
            fetch('/export_to_xlsx', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({ table: table })
            })
            .then(response => response.json())
            .then(data => {
               console.log(data);
               // Decodifica il file base64
               const byteCharacters = atob(data.file_data);
               const byteNumbers = new Array(byteCharacters.length);
               for (let i = 0; i < byteCharacters.length; i++) {
                     byteNumbers[i] = byteCharacters.charCodeAt(i);
               }
               const byteArray = new Uint8Array(byteNumbers);
               // Crea un oggetto Blob dal file
               const blob = new Blob([byteArray], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'});
               // Crea un URL oggetto per il Blob
               const url = window.URL.createObjectURL(blob);
               // Crea un link per il download del file
               const link = document.createElement('a');
               link.href = url;
               link.setAttribute('download', data.du+'.xlsx');
               // Aggiunge il link al DOM e simula il clic
               document.body.appendChild(link);
               link.click();
               // Pulisce l'URL oggetto
               window.URL.revokeObjectURL(url);
            })
            
         }
      </script>
      
      
{% endblock content %}

