{% extends "layouts/base.html" %}
{% block content %}

      <div class="container">
         <div class="card  p-2 my-5">
               <div class="card card-header bg-primary text-center">
                     <div class="card-title  ">
                           <h1 class="text-white">BASEMODULE SERVER</h1>
                     </div>
               </div>
               <div class="card-body">
                  <form  id="confirmForm">
                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>DU =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="du" class="form-control" value={{prefilldu}} />
                        </div>
                        <div class="col-sm-4 text-left">
                           (enter target DU)
                        </div>
                        
                     </div>
      
                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>SW =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="sws" class="form-control" value={{prefillsws}} />
                        </div>
                        <div class="col-sm-4 text-left">
                           (enter comma or single-space separated switches to operate)
                        </div>
                  
                     </div>

                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>ST =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="state" class="form-control" value={{prefillstate}} />
                        </div>
                        <div class="col-sm-4 text-left">
                           (enter desired switch state)
                        </div>
                  
                     </div>
                     
                     <div class="row d-flex justify-content-center mt-4">

                        <button type="button" class="btn btn-danger mr-4" data-toggle="modal" data-target="#confirmModal">WRITE</button>
                        <button type="button" class="btn btn-primary" onclick="confirmSubmit('READ')">READ</button>
                        
                        
                        
                     </div>
                     <div class="row d-flex justify-content-center mt-4">
                        <span class="fw-bold" id="msg">{{msg}}</span>
                     </div>
      
                     <div class="row d-flex justify-content-center mt-4" id="table">
                           {{ table | safe }}
                     </div>
                     
                  </form>

                  
      
               </div>
               <div class="card-footer text-center">
                     KM3NeT - ARCA 2023<br>
                     Istituto Nazionale di Fisica Nucleare - Laboratori Nazionali del Sud<br>
                     <!-- Source at <a href=https://github.com/D-Paesani/km3net/>D-Paesani/km3net</a><br> -->
               </div>
         </div>
      </div>
      


 <div class="it-example-modal">
   <div class="modal" tabindex="-1" role="dialog" id="confirmModal">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Confirmation needed</h5>
               </div>
               <div class="modal-body">
                   <p>Would you like to proceed ?</p>
               </div>
               <div class="modal-footer">
                   <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Ritorna</button>
                   <a class="btn btn-primary btn-sm text-white" onclick="confirmSubmit('WRITE')" role="button">Conferma</a>
               </div>
           </div>
       </div>
   </div>
</div>

<script>
   function confirmSubmit(action) {

      const duValue = document.querySelector('input[name="du"]').value;
      const swsValue = document.querySelector('input[name="sws"]').value;
      const stateValue = document.querySelector('input[name="state"]').value;
      
      const msg = document.getElementById("msg");
      const table = document.getElementById("table");
      
      if (action == 'WRITE') {
            $('#confirmModal').modal('hide');

            var formData = new FormData();
            formData.append('submit', action);
            formData.append('du', duValue);
            formData.append('sws', swsValue);
            formData.append('state', stateValue);

            fetch(window.location.href, {
               method: 'POST',
               body: formData,
            }).then(response => response.json())
            .then(data => {
               msg.innerHTML = data.msg;
               table.innerHTML = data.table;
            })

      }
   else {
      var formData = new FormData();
      formData.append('submit', action);
      formData.append('du', duValue);
      formData.append('sws', swsValue);
      formData.append('state', stateValue);

      fetch(window.location.href, {
         method: 'POST',
         body: formData,
      }).then(response => response.json())
      .then(data => {
         msg.innerHTML = data.msg;
         table.innerHTML = data.table;
      })
        
   }
}
</script>

<!-- if (confirm('Sicuro?')) { 
   document.querySelector('form').submit(); 
 } -->
{% endblock content %}
