{% extends "layouts/base.html" %}
{% block content %}

      <div class="container">
         <div class="card  p-2 my-5">
               <div class="card card-header bg-primary text-center">
                     <div class="card-title  ">
                           <h1 class="text-white">BASEMODULE SERVER</h1>
                     </div>
               </div>
               <div class="card-body">
                  <form action = "{{ url_for('cmd.f_swcontrol') }}" method = "POST" id="confirmForm">
                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>DU =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="du" class="form-control" value={{prefilldu}} />
                        </div>
                        <div class="col-sm-4 text-left">
                           (enter target DU)
                        </div>
                        
                     </div>
      
                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>SW =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="sws" class="form-control" value={{prefillsws}} />
                        </div>
                        <div class="col-sm-4 text-left">
                           (enter comma or single-space separated switches to operate)
                        </div>
                  
                     </div>

                     <div class="row">
      
                        <div class="col-sm-4 text-right">
                           <h3>ST =</h3>
                        </div>
                        <div class="col-sm-3">
                           <input type="text" name="state" class="form-control" value={{prefillstate}} />
                        </div>
                        <div class="col-sm-4 text-left">
                           (enter desired switch state)
                        </div>
                  
                     </div>
                     
                     <div class="row d-flex justify-content-center mt-4">

                        <button type="button" class="btn btn-primary" onclick="confirmSubmit('WRITE')">WRITE</button>
                           <button type="button" class="btn btn-primary" onclick="confirmSubmit('READ')">READ</button>
                        
                        
                        
                     </div>
      
                     <div class="row d-flex justify-content-center mt-4">
                        <span class="fw-bold">{{msg}}</span>
                     </div>
      
                     <div class="row d-flex justify-content-center mt-4">
                           {{ table | safe }}
                     </div>
                  </form>
      
               </div>
               <div class="card-footer text-center">
                     Km3NeT - ARCA 2023<br>
                     Istituto Nazionale di Fisica Nucleare - Laboratori Nazionali del Sud<br>
                     <!-- Source at <a href=https://github.com/D-Paesani/km3net/>D-Paesani/km3net</a><br> -->
               </div>
         </div>
      </div>
      
<!-- Modal di conferma -->
<div class="modal fade" id="modal-confirmation" tabindex="-1" style="display: none;" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content bg-light">
       <div class="modal-header">
         <h5 class="modal-title text-primary fw-bold"></h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body fw-bold">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button id="confirmAction" type="button" class="btn btn-primary">Confirm</button>
       </div>
     </div>
   </div>
 </div>

<script>
   function confirmSubmit(action) {
      const modalTitle = document.querySelector("#modal-confirmation .modal-title");
      modalTitle.textContent = `Alert SWM Operations`;
      const modalBody = document.querySelector("#modal-confirmation .modal-body");
      modalBody.innerHTML = `Are you sure want to  all SWM selected?<br><br>`;
      
      
      var confirmationModal = new bootstrap.Modal(document.getElementById('modal-confirmation'), { backdrop: 'static' });
      confirmationModal.show();
      document.getElementById("confirmAction").addEventListener("click", () => {
      
        confirmationModal.hide();
        const formData = new FormData();
        formData.append('submit', 'WRITE');

        fetch('/swcontrol', {
         method: 'POST',
         body: formData
      })
   })
       
       // Invia il modulo
       //
   }
</script>

<!-- if (confirm('Sicuro?')) { 
   document.querySelector('form').submit(); 
 } -->
{% endblock content %}
<input type="submit" value="WRITE" name="submit" class="btn btn-primary">
                           <input type="submit" value="READ" name="submit" class="btn btn-primary">