{% extends "layouts/base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="container d-flex justify-content-center ">
        <span id="monStatus" class="border-top border-bottom border-success text-center text-success">{{ msg }}</span>    
    </div>
    <div class="row col-12">
        <div class="col-8 mb-6 mt-4 d-flex justify-content-end">
            <div class="card">
                <div class="card-body">
                    <form id="startForm" action="" method="POST">
                        <div class="row">
                            <div class="col-sm-4 text-right">
                                <h4>DU =</h4>
                            </div>
                            <div class="col-sm-3">
                                <input id='du' type="text" name="du" class="form-control" value="{{ prefilldu }}" />     
                            </div>
                            <div class="col-sm-4 text-left">
                                (du number)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-right">
                                <h4>WWRS_A =</h4>
                            </div>
                            <div class="col-sm-3">
                                <input id='wwrsa' type="text" name="wwrsa" class="form-control" value="{{ wwrsa }}" />     
                            </div>
                            <div class="col-sm-4 text-left">
                                (wwrs_a ip)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-right">
                                <h4>WWRS_B =</h4>
                            </div>
                            <div class="col-sm-3">
                                <input id='wwrsb' type="text" name="wwrsb" class="form-control" value="{{ wwrsb }}" />     
                            </div>
                            <div class="col-sm-4 text-left">
                                (wwrs_b ip)
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-4 ">
                            <input type="submit" value="START" name="submit" class="btn btn-primary mr-1">
                            <button type="button" onclick="stopReading()" class="btn btn-danger">STOP</button>
                            <button type="button" onclick="updateCharts()" class="btn btn-success ml-4">REFRESH</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4 mb-6 mt-4 d-flex justify-content-left">
            <div class="card">
                <div class="card-header modal-title text-center fw-bold text-primary">
                    Set a maximum control temperature
                </div>
                <div class="card-body d-flex flex-column justify-content-end">
                    <form>
                        <div class="row">
                            <div class="col-sm-4 text-right">
                                <h4>Temp Max</h4>
                            </div>
                            <div class="col-sm-3">
                                <input id='temp_alarm' type="text" name="temp" class="form-control" value="{{ temp }}" />     
                            </div>
                            <div class="col-sm-4 text-left">
                                (Max value in C°)
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-4 ">
                            <button id="set" type="button" name="set" onclick="setTempAlarm()" class="btn btn-primary mr-1">Set</button>
                            <button id="unset" type="button" name="unset" onclick="unsetTempAlarm()" class="btn btn-danger mr-1">Unset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12 mb-5 mt-4">
        <div class="card col-4 " style="width:100%;">
            <div class="card card-header bg-primary text-center">
                <div class="card-title">
                      <h1 class="text-white">WWRS A</h1>
                </div>
            </div>
            <div class="card-body">
                <div id="chartDivA" style="width:100%; height:300px; margin:0 auto;"></div>
                <button id="downloadChartA" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>

        <div class="card col-4 " style="width:100%;">
            <div class="card card-header bg-primary text-center">
                <div class="card-title">
                      <h1 class="text-white">WWRS B</h1>
                </div>
            </div>
            <div class="card-body">
                <div id="chartDivB" style="width:100%; height:300px; margin:0 auto;"></div>
                <button id="downloadChartB" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
        
        <div class="card col-4" style="width:100%;">
            <div class="card card-header bg-primary text-center">
                <div class="card-title">
                        <h1 class="text-white">FPGA CLB</h1>
                </div>
            </div>
            <div class="card-body">
                <div id="chartDivFPGA" style="width:100%; height:300px; margin:0 auto;"></div>
                <button id="downloadChartFPGA" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>


    

    <div class="row col-12 mb-5 mt-4">
        <div class="card col-4 " style="width:100%;">
            <div class="card card-header bg-primary text-center">
                <div class="card-title">
                      <h1 class="text-white">BPD TEMP1</h1>
                </div>
            </div>
            <div class="card-body">
                <div id="chartDivT1" style="width:100%; height:300px; margin:0 auto;"></div>
                <button id="downloadChartT1" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>

        <div class="card col-4 " style="width:100%;">
            <div class="card card-header bg-primary text-center">
                <div class="card-title">
                      <h1 class="text-white">BPD TEMP2</h1>
                </div>
            </div>
            <div class="card-body">
                <div id="chartDivT2" style="width:100%; height:300px; margin:0 auto;"></div>
                <button id="downloadChartT2" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>

        <div class="card col-4" style="width:100%;">
            <div class="card card-header bg-primary text-center">
                <div class="card-title">
                      <h1 class="text-white">DUL</h1>
                </div>
            </div>
            <div class="card-body">
                <div id="chartDivDUL" style="width:100%; height:300px; margin:0 auto;"></div>
                <button id="downloadChartDUL" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>


<script>
    function unsetTempAlarm() {
        fetch('/unset_temp_alarm', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
          },
        })
        .then(response => response.json())
        .then(data => {
            let tempUp = document.getElementById('temp_alarm');
            tempUp.value = '0';
            console.log(data);  
        });   
    }

    function setTempAlarm() {
        let value = document.getElementById('temp_alarm').value;
        fetch('/set_temp_alarm', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ value: value })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);  
        });  
    }



    function updateCharts() {
    fetch('/get-temps')
        .then(response => response.json())
        .then(data => {
            const formatTime = timestamp => {
                const date = new Date(timestamp);
                return date.toTimeString().split(' ')[0]; 
            };

            const wwrsATemps = data.wwrsa_ip.map(d => ({x: new Date(d.timestamp).toISOString(), y: d.temperature}));
            const wwrsBTemps = data.wwrsb_ip.map(d => ({x: new Date(d.timestamp).toISOString(), y: d.temperature}));
            const fpgaTemps = data.clb_ip.map(d => ({x: new Date(d.timestamp).toISOString(), y: d.temperature}));
            const t1Temps = data.temp1.map(d => ({x: new Date(d.timestamp).toISOString(), y: d.temperature}));
            const t2Temps = data.temp2.map(d => ({x: new Date(d.timestamp).toISOString(), y: d.temperature}));
            const dulTemps = data.dul.map(d => ({x: new Date(d.timestamp).toISOString(), y: d.temperature}));

            const charts = [];

            if (wwrsATemps.length > 0) {
                const lastWwrsA = wwrsATemps[wwrsATemps.length - 1];
                const chartA = JSC.Chart('chartDivA', {
                    defaultPoint_marker_visible: false,
                    legend_visible: false,
                    type: 'spline',
                    title_label_text: 'Temperature Data',
                    series: [{
                        name: 'WWRS A',
                        points: wwrsATemps
                    }],
                    xAxis: {
                        label_text: 'Time',
                        scale_type: 'time'
                    },
                    yAxis: {
                        label_text: 'Temp',
                        scale_interval: 5,
                        scale_range: {min : '0', max : '60'}
                    },
                    annotations: [{
                        label_text: `<b>Last Record: ${lastWwrsA.y}°C at ${formatTime(lastWwrsA.x)}</b>`,
                        position: 'top right'
                    }],
                });
                charts.push({ chart: chartA, id: 'downloadChartA' });
            }

            if (wwrsBTemps.length > 0) {
                const lastWwrsB = wwrsBTemps[wwrsBTemps.length - 1];
                const chartB = JSC.Chart('chartDivB', {
                    defaultPoint_marker_visible: false,
                    legend_visible: false,
                    type: 'spline',
                    title_label_text: 'Temperature Data',
                    series: [{
                        name: 'WWRS B',
                        points: wwrsBTemps
                    }],
                    xAxis: {
                        label_text: 'Time',
                        scale_type: 'time'
                    },
                    yAxis: {
                        label_text: 'Temp',
                        scale_interval: 5,
                        scale_range: {min : '0', max : '60'}
                    },
                    annotations: [{
                        label_text: `<b>Last Record: ${lastWwrsB.y}°C at ${formatTime(lastWwrsB.x)}</b>`,
                        position: 'top right'
                    }],
                });
                charts.push({ chart: chartB, id: 'downloadChartB' });
            }

            if (fpgaTemps.length > 0) {
                const lastFpga = fpgaTemps[fpgaTemps.length - 1];
                const chartFPGA = JSC.Chart('chartDivFPGA', {
                    defaultPoint_marker_visible: false,
                    legend_visible: false,
                    type: 'spline',
                    title_label_text: 'Temperature Data',
                    series: [{
                        name: 'FPGA',
                        points: fpgaTemps
                    }],
                    xAxis: {
                        label_text: 'Time',
                        scale_type: 'time'
                    },
                    yAxis: {
                        label_text: 'Temp',
                        scale_interval: 5,
                        scale_range: {min : '0', max : '60'}
                    },
                    annotations: [{
                        label_text: `<b>Last Record: ${lastFpga.y}°C at ${formatTime(lastFpga.x)}</b>`,
                        position: 'top right'
                    }],
                });
                charts.push({ chart: chartFPGA, id: 'downloadChartFPGA' });
            }

            if (t1Temps.length > 0) {
                const lastT1 = t1Temps[t1Temps.length - 1];
                const chartT1 = JSC.Chart('chartDivT1', {
                    defaultPoint_marker_visible: false,
                    legend_visible: false,
                    type: 'spline',
                    title_label_text: 'Temperature Data',
                    series: [{
                        name: 'TEMP 1',
                        points: t1Temps
                    }],
                    xAxis: {
                        label_text: 'Time',
                        scale_type: 'time'
                    },
                    yAxis: {
                        label_text: 'Temp',
                        scale_interval: 5,
                        scale_range: {min : '0', max : '60'}
                    },
                    annotations: [{
                        label_text: `<b>Last Record: ${lastT1.y}°C at ${formatTime(lastT1.x)}</b>`,
                        position: 'top right'
                    }],
                });
                charts.push({ chart: chartT1, id: 'downloadChartT1' });
            }

            if (t2Temps.length > 0) {
                const lastT2 = t2Temps[t2Temps.length - 1];
                const chartT2 = JSC.Chart('chartDivT2', {
                    defaultPoint_marker_visible: false,
                    legend_visible: false,
                    type: 'spline',
                    title_label_text: 'Temperature Data',
                    series: [{
                        name: 'TEMP 2',
                        points: t2Temps
                    }],
                    xAxis: {
                        label_text: 'Time',
                        scale_type: 'time'
                    },
                    yAxis: {
                        label_text: 'Temp',
                        scale_interval: 5,
                        scale_range: {min : '0', max : '60'}
                    },
                    annotations: [{
                        label_text: `<b>Last Record: ${lastT2.y}°C at ${formatTime(lastT2.x)}</b>`,
                        position: 'top right'
                    }],
                });
                charts.push({ chart: chartT2, id: 'downloadChartT2' });
            }

            if (dulTemps.length > 0) {
                const lastDul = dulTemps[dulTemps.length - 1];
                const chartDUL = JSC.Chart('chartDivDUL', {
                    defaultPoint_marker_visible: false,
                    legend_visible: false,
                    type: 'spline',
                    title_label_text: 'Temperature Data',
                    series: [{
                        name: 'DUL',
                        points: dulTemps
                    }],
                    xAxis: {
                        label_text: 'Time',
                        scale_type: 'time'
                    },
                    yAxis: {
                        label_text: 'Temp',
                        scale_interval: 5,
                        scale_range: {min : '0', max : '60'}
                    },
                    annotations: [{
                        label_text: `<b>Last Record: ${lastDul.y}°C at ${formatTime(lastDul.x)}</b>`,
                        position: 'top right'
                    }],
                });
                charts.push({ chart: chartDUL, id: 'downloadChartDUL' });
            }

            charts.forEach(({ chart, id }) => {
                document.getElementById(id).addEventListener('click', () => {
                    chart.exportImage('png');
                });
            });
        })
        .catch(error => {
            let status = document.getElementById('monStatus');
            status.textContent = "Can't refresh, is Temperature monitor on?";
            status.classList.remove('text-success', 'text-danger', 'border-success', 'border-danger', 'pulse');
            status.classList.add('text-warning', 'border-warning');
        });
}
    function stopReading() {
        updateCharts();
        fetch('/stop_reading')
            .then(response => response.json())
            .then(data => {
                let status = document.getElementById('monStatus');
                status.textContent = data.msg;
                status.classList.remove('text-success', 'text-warning', 'border-success', 'border-warning', 'pulse');
                status.classList.add('text-danger', 'border-danger');
            });
    }

    document.addEventListener("DOMContentLoaded", function () {
        let msg = document.getElementById("monStatus");
        if (msg.textContent == "Temperature monitor is OFF")
        {
            msg.classList.remove('text-success', 'text-warning', 'border-success', 'border-warning', 'pulse');
            msg.classList.add('text-danger', 'border-danger');
        }
        else if (msg.textContent == "Temperature monitor is ON")
        {
            msg.classList.add('pulse');
        }
    })

    
</script>

{% endblock %}

